@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700;800;900&family=Prata&display=swap");

:root {
  --primary: #003170;
  --seconday: #4dc2bd;
  --third: #f4979c;
}
html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
}
.left-col,
.right-col {
  color: white;
  text-align: center;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-col {
  background-color: var(--primary);
}

.right-col {
  background-color: var(--seconday);
}

img {
  max-width: 100%;
  filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.35));
}

footer {
  background-color: var(--third);
  min-height: 220px;
  background-image: url(../img/socialmedia.svg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.social-icon {
  height: 60px;
  margin: 10px 20px;
}
.social-container {
  text-align: center;
}
nav {
  font-family: "prata";
  font-size: 22px;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
}
.navigation {
  text-align: center;
}
.navigation li {
  display: inline-block;
  margin: 0 15px;
  color: #16736e;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "prata";
  font-weight: normal;
}
h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
.scroll {
  color: var(--seconday);
  text-align: center;
}

.work h2 {
  color: #41ccc4;
}

.team h2 {
    color: var(--primary);
}

.contact h2{
    color: #f3747b;
}

h3{
    font-size: 50px;
}

.work h3{
    color: #16736e;
}
.team h3{
    color: #306fbf;
    line-height: 100%;
    margin: 0 0 70px 0;
}

h4{
    font-size: 32px;
    color: #16736e;
    background-color: #75e3dd;
    display: inline-block;
    margin: 0;
    padding: 4px;

}
a{
    letter-spacing: 3px;
    color: #2ce6dc;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

.work{
    color: #16736e;
}
p{
    line-height: 145%;
}
.top-container{
    width: 500px;
    margin: 0 auto;

}
h1{
    margin: 0;
}

.work-img{
    position: relative;
    width: 100%;

}
.work h4{
    position: absolute;
    z-index: 1;
    top: -25px;
}
.extra-gutter{
    padding: 0 60px;
}

.right{
    text-align: right;
}
.work h4.right{
    right: 0;
}

.img-margin{
    margin-bottom: 60px;
}
.mtop{
    margin-top: 200px;
}